* {
  margin: 0px;
  box-sizing: border-box;
}

/* Splitting screen innto header, video section, recomended video section and footer */

.main {
  background-color: #eeeeee;
  display: grid;
  grid-template-rows: 55px 1200px 55px;
  grid-template-columns: 70% 29%;
  gap: 1%;
}

.header {
  grid-column: 1/-1;
  background-color: white;
}

.recommended-videos {
  background-color: cadetblue;
}

.footer {
  background-color: coral;
  grid-column: 1/-1;
}

/* header styling */

.header .bars-button{
  position: relative;
  left: 2.2%;
  top: 6px;
  cursor: pointer;
  width: 1.8%;
  font-size: 20px;
  border:none;
  padding:0;
  background-color: transparent;
  color: #888;
}

.header img {
  position: relative;
  width: 100px;
  height: 30px;
  top: 14px;
  left: 3%;
}

.header input[type='text'] {
  position: relative;
  top: 3px;
  left: 16%;
  width: 40%;
  padding-left: 1%;
  height: 30px;
  border-top: solid 1px gray; 
  border-bottom: solid 1px gray;
  border-left: solid 1px gray;
}

.header .search-button {
  position: relative;
  top: 3px;
  left: 15.5%;
  width: 3.5%;
  height: 30px;
  background-color: #f8f8f8;
  border: solid 1px gray;
  color: #888; 
}

.header .grid-button{
  position: relative;
  left: 30.5%;
  top: 6px;
  cursor: pointer;
  width: 1.8%;
  font-size: 20px;
  border:none;
  padding:0;
  background-color: transparent;
  color: #888;
}

.header .bell-button{
  position: relative;
  left: 31%;
  top: 6px;
  cursor: pointer;
  width: 1.8%;
  font-size: 20px;
  border:none;
  padding:0;
  background-color: transparent;
  color: #888;
}

.header .upload-button {
  position: relative;
  left: 31.5%;
  top: 6px;
  cursor: pointer;
  width: 1.8%;
  font-size: 20px;
  border:none;
  padding:0;
  background-color: transparent;
  color: #888;
}

.header .signin-button {
  position: relative;
  height: 31px;
  top: 3px;
  left: 32vw;
  color: white;
  background-color: rgb(22, 122, 198);
  border-radius: 4px;
}


/* video section styling */

.video {
  background-color: #eeeeee;
}

.video-box{
  position: relative;
  left: 1%;
  width: 99%;
  height: 500px;
}

.video-box iframe{
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-box {
  position: relative;
  top:13px;
  left: 1%;
  background-color: white;
  height: 175px;
  width:99%;
}

.title {
  position: relative;
  left: 1.5%;
  top: 13px;
  font-size: 1.2em;
}

.channel-picture {
  position: relative;
  width: 7%;
  height:55px;
  left: 1.5%;
  top: 30px;
}

.channel-title {
  position: relative;
  left:2.5%;
  top:-14px;
  font-weight: 600;
  font-size: 14px;
}

.subscribe-btn {
  position: relative;
  left: -7.2%;
  top:15px;
  height: 25px;
  color: white;
  background-color: #ff0000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.sb-number {
  position: relative;
  left: -7.6%;
  top:16px;
  background-color: white;
  border: solid 1px;
  border-left: none;
  padding: 3px;
}

.line {
  position: relative;
  top:35px;
  left: 1.5%;
  background-color: #666666;
  width: 97%;
  height: 1px;
}

.views {
  display:inline-block;
  position: relative;
  left: 83%;
  font-size: 23px;
  color: #666666;
}

.view-line {
  background: rgb(17, 95, 196);
  height: 3px;
  width: 12.1%;
  position: relative;
  left: 84%;
  top: 7px;
}

.like-disike {
  display: inline-block;
  position: relative;
  left: 84%;
  top: 18px;
}

.like-dislike-btn {
  background: none;
  border: none;
}

.like-dislike-btn i {
  color: #666666;
}

.share-more {
  display: inline-block;
  position: relative;
  left: -11%;
  top: 16px;
}

.action-btn {
  background: none;
  border: none;
}

.action-btn i {
  color: #666666;
}

.description-box {
  position: relative;
  top: 2%;
  left:1%;
  background-color: white;
  width:99%;
  height: 18%;
}

.description-date {
  position: absolute;
  top: 10%;
  left: 2%;
  font-weight: 600;
}

.description-box p {
  position: absolute;
  font-size: 0.9em;
  margin-top: 3%;
  padding: 0% 2%;
  top: 2vh;
}

.full-line {
  position: relative;
  background-color: #666666;
  width: 97%;
  height: 0.05em;
  left: 2%;
  top: 75%;
}

.show-more-btn{
  position: relative;
  margin-top:19%;
  left:45%;
  background-color: transparent;
  cursor: pointer;
  border:none;
  font-weight: 550;
  color: #b3b3b3;
  text-align: center;
}


.comments-box {
  position: relative;
  background-color: white;
  height: 21vh;
  top: 1vh;
}
