* {
  margin: 0px;
  box-sizing: border-box;
}

/* Splitting screen innto header, video section, recomended video section and footer */

.main {
  background-color: #eeeeee;
  display: grid;
  grid-template-rows: 55px 1500px;
  grid-template-columns: 70% 29%;
  gap: 1%;
  width:100%;
  margin: auto;
}

.header {
  grid-column: 1/-1;
  background-color: white;
}

.recommended-videos {
  background-color: white;
}


/* header styling */

.header-flex-container{
  display:flex;
  height:55px;
}

.left-header-section{
  flex:1;
}
.center-header-section{
  flex:2;
}

.right-header-section{
  flex:1;
}

.left-header-flexbox{
  display: flex;
}

.left-header-flexbox .bars-button {
  position: relative;
  left: 20px;
  top: 12px;
  cursor: pointer;
  width: 20px;
  font-size: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #888;
}

.left-header-flexbox  img {
  position: relative;
  width: 100px;
  height: 30px;
  top: 14px;
  left: 50px;
}

.center-header-flexbox{
  display:flex;
  justify-content: center;
}

.center-header-flexbox  input[type='text'] {
  position: relative;
  top: 12px;
  width: 409px;
  padding-left: 1%; 
  height: 30px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  border-left: solid 1px gray;
}

.center-header-flexbox .search-button {
  position: relative;
  top: 12px;
  width: 50px; 
  height: 30px;
  background-color: #f8f8f8;
  border: solid 1px gray;
  color: #888;
}

.right-header-flexbox{
  display: flex;
  justify-content: flex-end;
}

.right-header-flexbox .grid-button {
  position: relative;
  top: 17px;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
  font-size: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #888;
}

.right-header-flexbox .bell-button {
  position: relative;
  top: 17px;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
  font-size: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #888;
}

.right-header-flexbox .upload-button {
  position: relative;
  top: 17px;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
  font-size: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #888;
}

.right-header-flexbox .signin-button {
  position: relative;
  margin-right: 15px;
  height: 31px;
  top: 13px;
  color: white;
  background-color: rgb(22, 122, 198);
  border-radius: 4px;
} 

/* video section styling */

.video {
  background-color: #eeeeee;
}

.video-box {
  position: relative;
  left: 1%;
  width: 99%;
  height: 500px;
}

.video-box iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-box {
  position: relative;
  top: 13px;
  left: 10px;
  background-color: white;
  height: 175px;
  width: 99%;
}

.title {
  position: relative;
  left: 1.5%;
  top: 13px;
  font-size: 1.2em;
}

.channel-picture {
  position: relative;
  width: 7%;
  height: 55px;
  left: 1.5%;
  top: 30px;
}

.channel-title {
  position: relative;
  left: 2.5%;
  top: -14px;
  font-weight: 600;
  font-size: 14px;
}

.subscribe-btn {
  position: relative;
  left: -7.2%;
  top: 15px;
  height: 25px;
  color: white;
  background-color: #ff0000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.sb-number {
  position: relative;
  left: -7.6%;
  top: 16px;
  background-color: white;
  border: solid 1px;
  border-left: none;
  padding: 3px;
}

.line {
  position: relative;
  top: 35px;
  left: 1.5%;
  background-color: #666666;
  width: 97%;
  height: 1px;
}

.views {
  display: inline-block;
  position: relative;
  left: 83%;
  font-size: 23px;
  color: #666666;
}

.view-line {
  background: rgb(17, 95, 196);
  height: 3px;
  width: 12.1%;
  position: relative;
  left: 84%;
  top: 7px;
}

.like-disike {
  display: inline-block;
  position: relative;
  left: 84%;
  top: 18px;
}

.like-dislike-btn {
  background: none;
  border: none;
}

.like-dislike-btn i {
  color: #666666;
}

.share-more {
  display: inline-block;
  position: relative;
  left: -11%;
  top: 16px;
}

.action-btn {
  background: none;
  border: none;
}

.action-btn i {
  color: #666666;
}

.description-box {
  position: relative;
  top: 25px;
  left: 10px;
  background-color: white;
  width: 99%;
  height: 200px;
}

.description-date {
  position: relative;
  top: 10px;
  left: 10px;
  font-weight: 700;
  font-size: 14px;
}

.description-box p {
  position: relative;
  font-size: 15px;
  top: 15px;
  padding: 0px 10px;
}

.full-line {
  position: relative;
  background-color: #666666;
  width: 97%;
  height: 1px;
  left: 10px;
  top: 27px;
}

.show-more-btn {
  position: relative;
  top: 38px;
  left:385px; 
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-weight: 550;
  color: #b3b3b3;
  text-align: center;
  text-transform: uppercase;
}

.comments-box {
  position: relative;
  background-color: white;
  height: 586px;
  width:99%;
  top: 38px;
  left:10px
}

.comments-no-label{
  position: relative;
  top:10px;
  left:10px;
}

.comments-box .sort-button{
  position: relative;
  top:17px;
  left:95px;
  background: transparent;
  border:none;
}

.comments-box .sort-button span{
  position: relative;
  left:2px;
  top:-5px;
  font-size: 14px;
}

.comments-box .user-avatar{
  width:50px;
  height:50px;
  border-radius: 50%;
}

.comments-box .current-user-image{
  position: relative;
  top: 80px;
  left:-175px;
}

.comments-box .text-add-comment{
  position: relative;
  top: 54px;
  left:-162px;
  font-size: 18px;
  border:none;  
}

.comments-box .add-comment-line{
  position: relative;
  top: 55px;
  left: 80px;
  background-color: #666666;
  width: 89%;
  height: 1px; 
}

.commments{
  position: relative;
  top: 90px;
  width:100%;
  height:auto;
}

.single-comment{
  position: relative;
  padding: 10px 0px;
  width: 70%;
  height:auto;
}

.single-comment .comment-image{
  position: relative;
  left:13px;
}

.single-comment .user-name{
  position: relative;
  top: -30px;
  left:27px;
  font-weight: 600;
  cursor: pointer;
}

.single-comment .commented-time{
  position: relative;
  top: -30px;
  left:31px;
  cursor: pointer;
}

.single-comment .comment{
  position: relative;
  top:-20px;
  left: 81px;
}

.single-comment .like-btn{
  position: relative;
  color: #666666;
  top:-8px;
  left:73px;
  border:none;
  background-color: transparent;
}

.single-comment .like-btn .no-of-likes{
  font-size: 10px;
}

.single-comment .dislike-button{
  position: relative;
  color: #666666;
  background-color: transparent;
  border:none;
  top:-8px;
  left:80px;
}

.single-comment .dislike-button .no-of-dislikes{
  font-size: 10px;
}

.single-comment .reply-button{
  position: relative;
  color: #666666;
  background-color: transparent;
  border:none;
  top:-8px;
  left:87px;
  text-transform: uppercase;
}


/* Recomended video section */

.upnext-heading{
  display: inline-block;
  position: relative;
  top:17px;
  left:10px;
  font-size: 18px;
}

.autoplay-label{
  position: relative;
  top:17px;
  left:150px;
  font-size: 18px;
}

.exclamation-circle-btn{
  position: relative;
  top:17px;
  left:160px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.autoplay-btn{
  position: relative;
  top:17px;
  left:155px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color:blueviolet;
}

.single-recomended-video{
  position: relative;
  padding: 10px;
  height: 100px;
}

.single-recomended-video .recomended-video-img{
  position: relative;
  width:145px;
  top:0px;
  left:0px;
}

.single-recomended-video  .recomended-title{
  position: relative;
  width:200px;
  top:-82px;
  left:160px;
}

.single-recomended-video .recomended-channel-title{
  position: relative;
  top:-82px;
  left:160px;
  font-size: 12px;
  color: #767676;
}

.single-recomended-video .recomended-views{
  position: relative;
  top:-65px;
  left:112px;
  font-size: 12px;
  color: #767676;
}

.next-play-line{
  position: relative;
  background-color: #666666;
  width: 95%;
  height: 1px;
  left: 10px;
}
